<ul class="navbar-nav sidebar-bg sidebar sidebar-dark accordion" id="accordionSidebar">
  <!-- Sidebar - Brand -->
  <a
    class="sidebar-brand d-flex align-items-center justify-content-center"
    href="/"
  >
    <div class="sidebar-brand-icon">
      <i class="fas fa-home"></i>
    </div>
    <div class="sidebar-brand-text mx-3">SIMS</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0" />

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" href="/">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a
    >
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider" />
  <% if (access === "Admin" || access === "Owner") { %>
  <!-- Heading -->
  <div class="sidebar-heading">Masters</div>
  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a
      class="nav-link collapsed"
      href="#"
      data-toggle="collapse"
      data-target="#masterCollapse"
      aria-expanded="true"
      aria-controls="masterCollapse"
    >
      <i class="fas fa-fw fa-box"></i>
      <span>Master</span>
    </a>
    <div
      id="masterCollapse"
      class="collapse"
      aria-labelledby="headingTwo"
      data-parent="#accordionSidebar"
    >
      <div class="sidebar-bg py-2 collapse-inner rounded">
        <h6 class="collapse-header">Masters Components:</h6>
        <a class="collapse-item" href="/access">Access</a>
        <a class="collapse-item" href="/payment">Payment</a>
      </div>
    </div>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider" />

  <!-- Heading -->
  <div class="sidebar-heading">Product Management</div>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a
      class="nav-link collapsed"
      href="#"
      data-toggle="collapse"
      data-target="#productCollapse"
      aria-expanded="true"
      aria-controls="productCollapse"
    >
      <i class="fas fa-fw fa-box"></i>
      <span>Products</span>
    </a>
    <div
      id="productCollapse"
      class="collapse"
      aria-labelledby="headingTwo"
      data-parent="#accordionSidebar"
    >
      <div class="sidebar-bg py-2 collapse-inner rounded">
        <h6 class="collapse-header">Product Components:</h6>
        <a class="collapse-item" href="/category">Category</a>
        <a class="collapse-item" href="/product">Products</a>
      </div>
    </div>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider" />

  <!-- Heading -->
  <div class="sidebar-heading">Inventory Management</div>
  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a
      class="nav-link collapsed"
      href="#"
      data-toggle="collapse"
      data-target="#inventoryCollapse"
      aria-expanded="true"
      aria-controls="inventoryCollapse"
    >
      <i class="fas fa-fw fa-boxes"></i>
      <span>Inventory</span>
    </a>
    <div
      id="inventoryCollapse"
      class="collapse"
      aria-labelledby="headingTwo"
      data-parent="#accordionSidebar"
    >
      <div class="sidebar-bg py-2 collapse-inner rounded">
        <h6 class="collapse-header">Inventory Components:</h6>
        <a class="collapse-item" href="/inventory">Inventory</a>
      </div>
    </div>
  </li>
  <% }%> 
  
  <% if (access === "Admin" || access === "Owner" || access === "User") { %>
  <!-- Divider -->
  <hr class="sidebar-divider" />

  <!-- Heading -->
  <div class="sidebar-heading">Sales Management</div>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a
      class="nav-link collapsed"
      href="#"
      data-toggle="collapse"
      data-target="#salesCollapse"
      aria-expanded="true"
      aria-controls="salesCollapse"
    >
      <i class="fas fa-fw fa-tag"></i>
      <span>Sales</span>
    </a>
    <div
      id="salesCollapse"
      class="collapse"
      aria-labelledby="headingTwo"
      data-parent="#accordionSidebar"
    >
      <div class="sidebar-bg py-2 collapse-inner rounded">
        <% if (access === "Admin" || access === "Owner" ) { %>
        <h6 class="collapse-header">Sales Components:</h6>
        <a class="collapse-item" href="/sales">Sales</a>
        <% } %>

        <% if (access === "Admin" || access === "Owner" || access === "User" ) { %>
        <h6 class="collapse-header">Order Components:</h6>
        <a class="collapse-item" href="/order">Orders</a>
        <% } %>

        <% if (access === "Admin" || access === "Owner" ) { %>
        <h6 class="collapse-header">Point of Sale Components:</h6>
        <a class="collapse-item" href="/pos">POS</a>
        <% } %>
      </div>
    </div>
  </li>

  <% }%> 

  <% if (access === "Admin" || access === "Owner" ) { %>
  <!-- Divider -->
  <hr class="sidebar-divider" />

  <!-- Heading -->
  <div class="sidebar-heading">Customer Management</div>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a
      class="nav-link collapsed"
      href="#"
      data-toggle="collapse"
      data-target="#customerCollapse"
      aria-expanded="true"
      aria-controls="customerCollapse"
    >
      <i class="fas fa-fw fa-person-booth"></i>
      <span>Customer</span>
    </a>
    <div
      id="customerCollapse"
      class="collapse"
      aria-labelledby="headingTwo"
      data-parent="#accordionSidebar"
    >
      <div class="sidebar-bg py-2 collapse-inner rounded">
        <h6 class="collapse-header">Customer Components:</h6>
        <a class="collapse-item" href="/customer">Customer</a>
        <h6 class="collapse-header">Store Point Components:</h6>
        <a class="collapse-item" href="/customerstorepoints">Store Points</a>
      </div>
    </div>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider" />

  <!-- Heading -->
  <div class="sidebar-heading">Reports & Analytics</div>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a
      class="nav-link collapsed"
      href="#"
      data-toggle="collapse"
      data-target="#reportAnalyticsCollapse"
      aria-expanded="true"
      aria-controls="reportAnalyticsCollapse"
    >
      <i class="fas fa-fw fa-receipt"></i>
      <span>Reports & Analytics</span>
    </a>
    <div
      id="reportAnalyticsCollapse"
      class="collapse"
      aria-labelledby="headingTwo"
      data-parent="#accordionSidebar"
    >
      <div class="sidebar-bg py-2 collapse-inner rounded">
        <h6 class="collapse-header">Components:</h6>
        <a class="collapse-item" href="/reports">Reports</a>
      </div>
    </div>
  </li>
 
  <!-- Divider -->
  <hr class="sidebar-divider" />

  <!-- Heading -->
  <div class="sidebar-heading">User Management</div>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a
      class="nav-link collapsed"
      href="#"
      data-toggle="collapse"
      data-target="#userCollapse"
      aria-expanded="true"
      aria-controls="userCollapse"
    >
      <i class="fas fa-fw fa-user"></i>
      <span>User</span>
    </a>
    <div
      id="userCollapse"
      class="collapse"
      aria-labelledby="headingTwo"
      data-parent="#accordionSidebar"
    >
      <div class="sidebar-bg py-2 collapse-inner rounded">
        <h6 class="collapse-header">User Components:</h6>
        <a class="collapse-item" href="/employee">Employee</a>
        <a class="collapse-item" href="/users">Users</a>
      </div>
    </div>
  </li>
  <% } %> <% if (access === "Agents" || access === "Admin" || access === "Owner" ) { %>
  <!-- Divider -->
  <hr class="sidebar-divider" />

  <!-- Heading -->
  <div class="sidebar-heading">Customer Service</div>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a
      class="nav-link collapsed"
      href="#"
      data-toggle="collapse"
      data-target="#customerServiceCollapse"
      aria-expanded="true"
      aria-controls="customerServiceCollapse"
    >
      <i class="fas fa-fw fa-receipt"></i>
      <span>Customer Service</span>
    </a>
    <div
      id="customerServiceCollapse"
      class="collapse"
      aria-labelledby="headingTwo"
      data-parent="#accordionSidebar"
    >
      <div class="sidebar-bg py-2 collapse-inner rounded">
        <h6 class="collapse-header">Components:</h6>
        <a class="collapse-item" href="/chat">Chat</a>
      </div>
    </div>
  </li>
  <% } %>
  <!-- Divider -->
  <hr class="sidebar-divider" />
</ul>
