<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./components/header.ejs")%>
  </head>

  <body class="bg-gradient-primary">
    <div class="container"><%- include("./pages/login/login.ejs")%></div>

    <%- include("./components/scripts.ejs")%> <%-
    include("./pages/login/loginscript.ejs")%>
  </body>
</html>
