<html>
  <head>
    <%- include("./components/header.ejs")%>
  </head>
  <body>
    <%- include("./pages/verification/verification.ejs")%> <%-
    include("./components/scripts.ejs")%> <%-
    include("./pages/verification/verificationscript.ejs")%>
  </body>
</html>
