<script>
  $(document).ready(function () {
    let id = "";
    let status = "";
    let date = "";
    let posid = "";
    let total = "";
    LoadTable();

    $("#datatable tbody").on("click", "tr", function () {
      var dataRow = [];
      $(this)
        .closest("tr")
        .find("td")
        .each(function () {
          dataRow.push($(this).text());
        });
      console.log(dataRow);
      id = dataRow[0];
      date = dataRow[1];
      posid = dataRow[2];
      total = dataRow[3];
      status = dataRow[4];
    });

    $(document).on("click", "#viewDetailBtn", function () {
      console.log("click");

      $("#editModal").modal("show");

      $("#transactionidmodal").val(id);
      $("#transactiondate").val(date);
      $("#transactionposid").val(posid);
      $("#transactionstatus").val(status);
      $("#totalprice").html(total);

      Fetch(`/sales/getdetails/${id}`, (result) => {
        if (result.msg === "success") {
          console.log(result.data);
          const tableBody = $("#datatablemodal tbody");
          tableBody.empty();

          let data = result.data["items"];
          let detail = result.data["detail"];

          detail.forEach((item) => {
            $("#paymenttype").val(item.paymenttype);
            $("#cashier").val(item.cashier);
            $("#amounttender").val(formatCurrency(item.cashreceive));
            $("#change").val(formatCurrency(item.change));
          });

          if (data === 0) {
            const tr = $("<tr>").append(
              $("<td>", {
                colspan: 4,
                class: "text-center",
                text: "No Data Matched",
              })
            );
            tableBody.append(tr);
          } else {
            data.forEach((item) => {
              const tr = $("<tr>").append(
                $("<td>", {
                  text: item.id,
                  "data-label": "ID",
                  class: "custom-mobile-align",
                }),
                $("<td>", {
                  text: item.name,
                  "data-label": "Name",
                  class: "custom-mobile-align",
                }),
                $("<td>", {
                  text: formatCurrency(item.price),
                  "data-label": "Price",
                  class: "custom-mobile-align",
                }),
                $("<td>", {
                  text: item.quantity,
                  "data-label": "Quantity",
                  class: "custom-mobile-align",
                })
              );

              tableBody.append(tr);
            });
          }
        } else {
          console.error(result.msg);
        }
      });
    });

    $(document).on("click", "#printBtn", function () {
      Fetch(`/sales/getdetails/${id}`, (result) => {
        console.log(result);

        if (result.msg === "success") {
          Upsert(
            "POST",
            "/pdf/generatereceipt",
            {
              data: result.data,
              date: date,
              posid: posid,
              total: total,
              id: id,
            },
            (result) => {
              window.open(`/pdf/generatepdf/Receipt`, "_blank");
            }
          );
        } else {
          console.error(result.msg);
        }
      });
    });

    $(document).on("click", "#filterBtn", function () {
      let date = formatDate($("#dateRange").val());
      let transactionid = $("#transactionid").val();
      let posid = $("#posid").val();
      let message = "";

      if (date == "" && transactionid == "" && posid == "") {
        message += "Input at least one field to search";
      }
      if (message != "") {
        warning("Required", message);
      } else {
        $.ajax({
          type: "POST",
          url: "/sales/filter",
          data: {
            transactionid: transactionid,
            posid: posid,
            date: date,
          },
          success: function (result) {
            if (result.msg == "success") {
              populatedatatable(result.data);
            }
          },
          error: function (error) {
            warning("Error", error);
          },
        });
      }
    });

    function LoadTable() {
      $.ajax({
        url: "/sales/load",
        method: "GET",
        dataType: "json",
        success: function (data) {
          console.log(data);
          if (data.msg === "success") {
            populatedatatable(data.data);
          } else {
            console.error(data.msg);
          }
        },
        error: function (error) {
          console.error(error);
        },
      });
    }

    function populatedatatable(data) {
      console.log(data);
      const tableBody = $("#datatable tbody");
      tableBody.empty();

      if (data.length === 0) {
        const tr = $("<tr>").append(
          $("<td>", {
            colspan: 6,
            class: "text-center",
            text: "No Data Matched",
          })
        );
        tableBody.append(tr);
      } else {
        data.forEach((item) => {
          let action = "";
          if (item.status === "SOLD") {
            action = `<span class="editbutton mr-2" name="viewDetailBtn" id="viewDetailBtn"><i class="fas fa-eye" style="color: rgb(99, 115, 129);">
              </i></span>
            <span class="editbutton" name="printBtn" id="printBtn"><i class="fas fa-receipt" style="color: rgb(99, 115, 129);"></i></span>`;
          }
          const statusBackground = getStatusBackground(item.status);
          const containerBackground = getContainerBackground(item.status);

          const tr = $("<tr>").append(
            $("<td>", {
              text: item.id,
              "data-label": "ID",
              class: "custom-mobile-align",
            }),
            $("<td>", {
              text: item.date,
              "data-label": "Date",
              class: "custom-mobile-align",
            }),
            $("<td>", {
              text: item.pos,
              "data-label": "POS",
              class: "custom-mobile-align",
            }),
            $("<td>", {
              text: formatCurrency(item.total),
              "data-label": "Total",
              class: "custom-mobile-align",
            }),
            $("<td>", {
              class: "custom-mobile-align",
              "data-label": "Status",
            }).append(
              $("<div>", { class: containerBackground }).append(
                $("<span>", { text: item.status, class: statusBackground })
              )
            ),
            $("<td>", {
              html: action,
              "data-label": "Action",
              class: "actionWidth",
            })
          );

          tableBody.append(tr);
        });
      }
    }

    function filterTableRows() {
      const searchQuery = $("#search-input").val().trim().toLowerCase();
      let foundMatches = false;

      $("#no-match-row").remove();

      $("#datatable tbody tr").each(function () {
        const rowData = $(this).text().toLowerCase();
        if (rowData.includes(searchQuery)) {
          $(this).show();
          foundMatches = true;
        } else {
          $(this).hide();
        }
      });

      if (!foundMatches) {
        const noMatchRow = $("<tr>").append(
          $("<td>", {
            colspan: 6,
            class: "text-center",
            text: "No Data Matched",
          })
        );
        $("#datatable tbody").append(noMatchRow);
        noMatchRow.attr("id", "no-match-row");
      }
    }

    function refreshData() {
      let date = formatDate($("#dateRange").val());
      let transactionid = $("#transactionid").val();
      let posid = $("#posid").val();
      let message = "";

      if (date == "" && transactionid == "" && posid == "") {
        message += "Input at least one field to search";
      }
      if (message != "") {
        warning("Required", message);
      } else {
        $.ajax({
          type: "POST",
          url: "/sales/filter",
          data: {
            transactionid: transactionid,
            posid: posid,
            date: date,
          },
          success: function (result) {
            if (result.msg == "success") {
              populatedatatable(result.data);
            }
          },
          error: function (error) {
            warning("Error", error);
          },
        });
      }
    }

    $("#search-input").on("input", filterTableRows);

    //#region Date Formatting
    function formatDate(date) {
      let startDate = moment(date.split(" - ")[0], "MMM D, YYYY").format(
        "YYYY-MM-DD"
      );
      let endDate = moment(date.split(" - ")[1], "MMM D, YYYY").format(
        "YYYY-MM-DD"
      );
      let formattedDate = startDate + " - " + endDate;

      //   console.log(formattedDate);

      return formattedDate;
    }
    //#endregion

    //#region Date Ranger Picker
    $("#dateRange").daterangepicker({
      opens: "right",
      startDate: moment(), //@add .subtract(7, 'days') for weekly view
      endDate: moment(),
      maxDate: moment(),
      alwaysShowCalendars: true,
      showCustomRangeLabel: false,
      buttonClasses: ["btn btn-outline-inventory"],
      applyButtonClasses: ["test"],
      locale: {
        format: "MMM D, YYYY",
      },
    });

    $("#adjustDateBackward").on("click", function () {
      var startDate = $("#dateRange").data("daterangepicker").startDate;
      var endDate = $("#dateRange")
        .data("daterangepicker")
        .endDate.clone()
        .subtract(7, "days");
      $("#dateRange").data("daterangepicker").setEndDate(endDate);
      $("#dateRange")
        .data("daterangepicker")
        .setStartDate(startDate.clone().subtract(7, "days"));

      refreshData();
    });

    $("#adjustDateForward").on("click", function () {
      var startDate = $("#dateRange").data("daterangepicker").startDate;
      var endDate = $("#dateRange")
        .data("daterangepicker")
        .endDate.clone()
        .add(7, "days");
      $("#dateRange")
        .data("daterangepicker")
        .setStartDate(startDate.clone().add(7, "days"));
      $("#dateRange").data("daterangepicker").setEndDate(endDate);

      refreshData();
    });
    //#endregion
  });
</script>
