<div class="container-fluid">
  <div class="row">
    <div class="col-xl-4">
      <div class="card shadow cardbody-size-710">
        <div class="progress progress-sm mb-2">
          <div
            class="progress-bar"
            role="progressbar"
            style="width: 0%"
            aria-valuenow="0"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>

        <div class="card-header py-3 header-bg">
          <div class="row">
            <div class="col-md-5">
              <div class="row">
                <h6 class="mt-2 ml-3 font-weight-bold h4 label-title">
                  Product Components
                </h6>
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-group">
                <input
                  autocomplete="off"
                  type="text"
                  class="form-control bg-light small"
                  placeholder="Search for..."
                  aria-label="Search"
                  aria-describedby="basic-addon2"
                  id="search-input"
                />
                <div class="input-group-append">
                  <button
                    class="btn sis-btn-color"
                    type="button"
                    id="search-button"
                  >
                    <i class="fas fa-search fa-sm"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="table-responsive scroll-cardbody-size-710 border">
            <table
              id="datatable"
              class="table table-bordered custom-mobile-table"
              width="100%"
              cellspacing="10"
            >
              <thead class="table-header">
                <tr>
                  <th>ID</th>
                  <th>Product</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-6">
      <div class="card shadow cardbody-size-710">
        <div class="card-header header-bg">
          <h6 class="m-0 font-weight-bold mt-2 label-title h4">
            Product Components
          </h6>
        </div>

        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="input-group mb-3">
                <input
                  type="text"
                  readonly
                  class="form-control"
                  id="cost"
                  placeholder="Cost"
                />
                <div class="input-group-append">
                  <span class="input-group-text">Cost</span>
                </div>
              </div>
            </div>

            <div class="col">
              <button
                class="btn btn-sm btn-outline-inventory w-100"
                type="button"
                id="submitBtn"
              >
                Submit
              </button>
            </div>
          </div>
          <div class="table-responsive scroll-cardbody-size-710 border">
            <table
              id="datatable-component"
              class="table table-bordered custom-mobile-table"
              width="100%"
              cellspacing="10"
            >
              <thead class="table-header">
                <tr>
                  <th>Material ID</th>
                  <th>Material Name</th>
                  <th>Unit(Deduct)</th>
                  <th>Cost</th>
                  <th>Quantity</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="col xl-2">
      <div class="card shadow cardbody-size-710">
        <div class="card-header header-bg">
          <div class="row">
            <div class="col">
              <h6 class="m-0 font-weight-bold mt-2 label-title h4">
                Create Product Components
              </h6>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col">
              <div class="input-group mb-3">
                <input
                  id="product"
                  name="product"
                  type="text"
                  class="form-control"
                  placeholder="Select or Input Product"
                  aria-label="Select Product"
                  autocomplete="off"
                />
                <input
                  autocomplete="off"
                  type="hidden"
                  id="productID"
                  name="productID"
                />
                <div class="input-group-append">
                  <span class="input-group-text">Product</span>
                </div>
              </div>
              <div
                class="custom-dropdown cdw-tableoption"
                id="productDropdown"
              ></div>
            </div>
          </div>

          <hr />
          <h6 class="m-0 font-weight-bold mt-2 label-title h4">Materials</h6>
          <div class="row mt-1">
            <div class="col">
              <div class="input-group mb-3">
                <input
                  id="material"
                  name="material"
                  type="text"
                  class="form-control"
                  placeholder="Select or Input Material"
                  aria-label="Select Material"
                  autocomplete="off"
                />
                <input
                  autocomplete="off"
                  type="hidden"
                  id="materialID"
                  name="materialID"
                />
                <div class="input-group-append">
                  <span class="input-group-text">Material</span>
                </div>
              </div>
              <div
                class="custom-dropdown cdw-tableoption"
                id="materialDropdown"
              ></div>
            </div>
          </div>
          <div class="row mt-1">
            <div class="col">
              <div class="input-group mb-3">
                <select name="unitmodal" id="unitmodal" class="form-control">
                  <option value="-">Select Deduction Unit</option>
                  <option value="pcs">Piece/s (pcs)</option>
                  <option value="g">Grams(g)</option>
                  <option value="kg">Kilograms(kg)</option>
                  <option value="L">Litre(L)</option>
                  <option value="ml">Mililitre(ml)</option>
                </select>
                <div class="input-group-append">
                  <span class="input-group-text">Unit</span>
                </div>
              </div>
            </div>
          </div>

          <div class="row mt-1">
            <div class="col">
              <div class="input-group mb-3">
                <input
                  id="quantity"
                  name="quantity"
                  type="text"
                  class="form-control"
                  placeholder="Enter Quantity"
                  aria-label="Quantity"
                  aria-describedby="addBtn"
                />
                <div class="input-group-append">
                  <span class="input-group-text">Quantity</span>
                </div>
              </div>
            </div>
          </div>

          <div class="row justify-content-center mt-2">
            <div class="col">
              <button
                class="btn btn-sm btn-outline-inventory w-100"
                type="button"
                id="addBtn"
              >
                Add
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- View Components Modal -->
<div
  class="modal fade"
  id="editModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header custom-bg">
        <h5 class="modal-title" id="exampleModalLabel">Product Components</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="custom-modal-body">
        <div class="card">
          <div class="card-header py-2 header-bg">
            <h6 class="m-0 font-weight-bold table-title">
              View Product Components:
            </h6>
          </div>
          <div class="card-body">
            <div class="row mb-2 justify-content-center">
              <div class="col-md-6">
                <div class="input-group mb-3">
                  <input
                    autocomplete="off"
                    id="idmodal"
                    name="idmodal"
                    type="text"
                    class="form-control"
                    placeholder="Enter new idmodal"
                    aria-label="idmodal"
                    aria-describedby="basic-addon1"
                    disabled
                  />
                  <div class="input-group-append">
                    <span class="input-group-text">ID</span>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="input-group mb-3">
                  <input
                    autocomplete="off"
                    id="namemodal"
                    name="namemodal"
                    type="text"
                    class="form-control"
                    placeholder="Enter new name"
                    aria-label="namemodal"
                    aria-describedby="basic-addon1"
                    disabled
                  />
                  <div class="input-group-append">
                    <span class="input-group-text">Material Name</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="card">
                  <div class="card-header py-2 header-bg">
                    <h6 class="m-0 font-weight-bold table-title">Components</h6>
                    <div class="row mt-3">
                      <div class="col-md-3">
                        <div class="input-group mb-3">
                          <input
                            type="text"
                            readonly
                            class="form-control"
                            id="costmodal"
                            placeholder="Cost"
                          />
                          <div class="input-group-append">
                            <span class="input-group-text">Cost</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive border">
                      <table
                        id="datatable-component-modal"
                        class="table table-bordered custom-mobile-table"
                        width="100%"
                        cellspacing="10"
                      >
                        <thead class="table-header">
                          <tr>
                            <th>Material ID</th>
                            <th>Material Name</th>
                            <th>Unit(Deduct)</th>
                            <th>Cost</th>
                            <th>Quantity</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody></tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button
          type="button"
          id="closeBtn"
          class="btn btn-outline-inventory"
          data-dismiss="modal"
        >
          Close
        </button>
        <!-- <button type="button" id="updateBtn" class="btn btn-outline-inventory">
          <span id="btn-label-modal">Update</span>
          <span
            id="btnSpinner-modal"
            class="spinner-border spinner-border-sm d-none"
            role="status"
            aria-hidden="true"
          ></span> -->
        </button>
      </div>
    </div>
  </div>
</div>
