<div class="container-fluid mb-3 p-3 bg-gradient-primary">
  <div class="row justify-content-center">
    <div class="form">
      <div
        class="row p-3 rounded text-white justify-content-center card shadow mb-4 cardbody-size-710"
      >
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="input-group mb-3">
            <input
              id="fullname"
              name="fullname"
              type="text"
              class="form-control"
              placeholder="Full Name"
              aria-label="Full Name"
            />
            <div class="input-group-append">
              <span class="input-group-text">Full Name</span>
            </div>
          </div>

          <div class="input-group mb-3">
            <input
              id="address"
              name="address"
              type="text"
              class="form-control"
              placeholder="Address"
              aria-label="Address"
            />
            <div class="input-group-append">
              <span class="input-group-text">Address</span>
            </div>
          </div>

          <div class="input-group mb-3">
            <input
              id="email"
              name="email"
              type="text"
              class="form-control"
              placeholder="Email"
              aria-label="Email"
            />
            <div class="input-group-append">
              <span class="input-group-text">Email</span>
            </div>
          </div>

          <div class="input-group mb-3">
            <input
              id="contactno"
              name="contactno"
              type="text"
              class="form-control"
              placeholder="Contact No"
              aria-label="Contact No"
            />
            <div class="input-group-append">
              <span class="input-group-text">Contact No</span>
            </div>
          </div>

          <div class="input-group mb-3 mt-5">
            <input
              id="password"
              name="password"
              type="password"
              class="form-control"
              placeholder="Password"
              aria-label="Password"
            />
            <div class="input-group-append">
              <span class="input-group-text">Password</span>
            </div>
          </div>

          <div class="input-group mb-3">
            <input
              id="confirmpassword"
              name="confirmpassword"
              type="password"
              class="form-control"
              placeholder="Confirm Password"
              aria-label="Confirm Password"
            />
            <div class="input-group-append">
              <span class="input-group-text">Confirm Password</span>
            </div>
          </div>

          <div class="row justify-content-end mt-2">
            <button
              class="btn btn-sm btn-outline-inventory w-100 mb-4"
              type="button"
              id="registerBtn"
            >
              Register
            </button>
          </div>

          <div class="row mt-5">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="alert alert-success" id="registrationError">
                <a class="alert-link" href="/">Already have an account?</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
