<script>
  $(document).ready(function () {
    let id = "";
    let status = "";
    let points = 0;
    LoadTable();

    $("#datatable tbody").on("click", "tr", function () {
      var dataRow = [];
      $(this)
        .closest("tr")
        .find("td")
        .each(function () {
          dataRow.push($(this).text());
        });
      console.log(dataRow[2]);
      id = dataRow[0];
      points = dataRow[2];
      status = dataRow[3];
    });

    $("#search").keyup(function () {
      var search = $(this).val().toLowerCase();
      $("tbody tr").filter(function () {
        $(this).toggle($(this).text().toLowerCase().indexOf(search) > -1);
      });
    });

    //Status Update
    $(document).on("click", "#activeBtn", function () {
      console.log(id);
      console.log(status);
      $.ajax({
        type: "PUT",
        url: "/customerstorepoints/status",
        data: {
          status: status,
          id: id,
        },
        success: function (result) {
          if (result.msg == "success") {
            LoadTable();
            success("Update", "Status change successfully");
          }

          if (result.msg == "notexist") {
            warning(`${id} does not exist!`);
          }
        },
        error: function (err) {
          warning("Warning", err);
        },
      });
    });

    $(document).on("click", "#inactiveBtn", function () {
      console.log(id);
      console.log(status);
      $.ajax({
        type: "PUT",
        url: "/customerstorepoints/status",
        data: {
          status: status,
          id: id,
        },
        success: function (result) {
          if (result.msg == "success") {
            LoadTable();
            success("Saved", "Status change successfully");
          }

          if (result.msg == "notexist") {
            warning(`${id} does not exist!`);
          }
        },
        error: function (err) {
          warning("Warning", err);
        },
      });
    });

    $(document).on("click", "#editBtn", function () {
      $("#editModal").modal("show");
      $("#pointsmodal").val(RemoveCurrencyFormatting(points));
      $("#idmodal").val(id);
    });

    //Edit Update
    $(document).on("click", "#updateBtn", function () {
      let points = $("#pointsmodal").val();

      var message = "";

      console.log(id, points);

      if (points == "" || points == "0.00") {
        message += "Points ";
      }
      if (message != "") {
        warning("Required", `Please fill up ${message}`);
      } else {
        $.ajax({
          type: "PUT",
          url: "/customerstorepoints/edit",
          data: {
            points: points,
            id: id,
          },
          success: function (result) {
            if (result.msg == "success") {
              LoadTable();
              success("Saved", "Successfully");
              $("#editModal").modal("hide");
              $("#customerfullnamemodal").val("");
            }

            if (result.msg == "exist") {
              warning("Exist", `${customernamemodal} already exist!`);
            }
          },
          error: function (err) {
            warning("Warning", err);
          },
        });
      }
    });

    function LoadTable() {
      $.ajax({
        url: "/customerstorepoints/load",
        method: "GET",
        dataType: "json",

        success: function (data) {
          console.log(data);
          if (data.msg === "success") {
            populatedatatable(data.data);
          } else {
            console.error(data.msg);
          }
        },
        error: function (error) {
          console.error(error);
        },
      });
    }

    function populatedatatable(data) {
      console.log(data);
      const tableBody = $("#datatable tbody");
      tableBody.empty();

      if (data.length === 0) {
        const tr = $("<tr>").append(
          $("<td>", {
            colspan: 7,
            class: "text-center",
            text: "No Data Matched",
          })
        );
        tableBody.append(tr);
      } else {
        data.forEach((item) => {
          let action = "";
          if (item.status === "ACTIVE") {
            action = `
                                  <span class="editbutton" id="editBtn" name="editBtn"><i class="fas fa-edit" style="color: rgb(99, 115, 129);"></i></span>
                                  <span class="editbutton" id="inactiveBtn"><i class="fas fa-eye-slash" style="color: rgb(99, 115, 129);"></i></span>
                                  <span class="editbutton" id="deletebutton"><i class="fas fa-trash" style="color: rgb(99, 115, 129);"></i></span>`;
          } else if (item.status === "INACTIVE") {
            action = `
                                  <span class="editbutton" id="editBtn" name="editBtn"><i class="fas fa-edit" style="color: rgb(99, 115, 129);"></i></span>
                                  <span class="editbutton" id="activeBtn"><i class="fas fa-eye" style="color: rgb(99, 115, 129);"></i></span>
                                  <span class="editbutton" id="deletebutton"><i class="fas fa-trash" style="color: rgb(99, 115, 129);"></i></span>`;
          }
          const statusBackground = getStatusBackground(item.status);
          const containerBackground = getContainerBackground(item.status);

          const tr = $("<tr>").append(
            $("<td>", {
              text: item.id,
              "data-label": "ID",
              class: "custom-mobile-align",
            }),
            $("<td>", {
              text: item.customer,
              "data-label": "Customer",
              class: "custom-mobile-align",
            }),
            $("<td>", {
              text: formatCurrency(item.points),
              "data-label": "Contact No",
              class: "custom-mobile-align",
            }),
            $("<td>", {
              class: "custom-mobile-align",
              "data-label": "Status",
            }).append(
              $("<div>", { class: containerBackground }).append(
                $("<span>", { text: item.status, class: statusBackground })
              )
            ),
            $("<td>", {
              html: action,
              "data-label": "Action",
              class: "actionWidth",
            })
          );

          tableBody.append(tr);
        });
      }
    }
  });
</script>
