<script>
  $(document).ready(function () {
    let id = "";
    let fullname = "";
    let address = "";
    let email = "";
    let contactno = "";
    let status = "";
    let base64String = "";
    let base64StringModal = "";

    LoadTable();
    LoadList();

    $("#datatable tbody").on("click", "tr", function () {
      var dataRow = [];
      $(this)
        .closest("tr")
        .find("td")
        .each(function () {
          dataRow.push($(this).text());
        });
      console.log(dataRow);
      id = dataRow[0];
      fullname = dataRow[1];
      address = dataRow[2];
      contactno = dataRow[3];
      email = dataRow[4];
      status = dataRow[5];
    });

    $(document).on("click", "#addBtn", function () {
      let employeename = $("#employee").val();
      let employee = $("#employeeID").val();
      let access = $("#accessID").val();
      let username = $("#username").val();
      let password = $("#password").val();
      let message = "";

      if (employee == "") {
        message += "Employee";
      }
      if (access == "") {
        message += "Contact No";
      }
      if (password == "") {
        message += "Password";
      }
      if (username == "") {
        message += "Username";
      }

      if (message != "") {
        warning("Required", message);
      } else {
        $.ajax({
          type: "POST",
          url: "/users/save",
          data: {
            employee: employee,
            access: access,
            username: username,
            password: password,
          },
          success: function (result) {
            if (result.msg == "success") {
              LoadTable();
              success("Success", "New pos successfully added!");
            }
            if (result.msg == "exist") {
              warning("Success", `${employeename} is already exist!`);
            }
          },
          error: function (error) {
            warning("Error", error);
          },
        });
      }
    });

    $(document).on("click", "#editBtn", function () {
      $("#idmodal").val(id);
      $("#editModal").modal("show");
      $("#fullnamemodal").val(fullname);
      $("#addressmodal").val(address);
      $("#contactnomodal").val(contactno);
      $("#emailmodal").val(email);
      console.log(id);
    });
    //Edit Update
    $(document).on("click", "#updateBtn", function () {
      let password = $("#passwordmodal").val();

      var message = "";

      console.log(id);

      if (password == "") {
        message += "Password";
      }
      if (message != "") {
        warning("Required", `Please fill up ${message}`);
      } else {
        $.ajax({
          type: "PUT",
          url: "/users/edit",
          data: {
            password: password,
            id: id,
          },
          success: function (result) {
            if (result.msg == "success") {
              LoadTable();
              success("Saved", "Successfully");
              $("#editModal").modal("hide");
              $("#employeefullnamemodal").val("");
            }

            if (result.msg == "exist") {
              warning("Exist", `${employeenamemodal} already exist!`);
            }
          },
          error: function (err) {
            warning("Warning", err);
          },
        });
      }
    });

    //Status Update
    $(document).on("click", "#activeBtn", function () {
      console.log(id);
      console.log(status);
      $.ajax({
        type: "PUT",
        url: "/users/status",
        data: {
          status: status,
          id: id,
        },
        success: function (result) {
          if (result.msg == "success") {
            LoadTable();
            success("Update", "Status change successfully");
          }

          if (result.msg == "notexist") {
            warning(`${id} does not exist!`);
          }
        },
        error: function (err) {
          warning("Warning", err);
        },
      });
    });

    $(document).on("click", "#inactiveBtn", function () {
      console.log(id);
      console.log(status);
      $.ajax({
        type: "PUT",
        url: "/users/status",
        data: {
          status: status,
          id: id,
        },
        success: function (result) {
          if (result.msg == "success") {
            LoadTable();
            success("Saved", "Status change successfully");
          }

          if (result.msg == "notexist") {
            warning(`${id} does not exist!`);
          }
        },
        error: function (err) {
          warning("Warning", err);
        },
      });
    });

    $(document).on("click", "#deletebutton", function () {
      console.log(id);
      console.log(status);
      $.ajax({
        type: "DELETE",
        url: "/users/delete",
        data: {
          id: id,
        },
        success: function (result) {
          if (result.msg == "success") {
            LoadTable();
            success("Saved", "Delete successfully");
          }

          if (result.msg == "notexist") {
            warning(`${id} does not exist!`);
          }
        },
        error: function (err) {
          warning("Warning", err);
        },
      });
    });

    function LoadTable() {
      $.ajax({
        url: "/users/load",
        method: "GET",
        dataType: "json",
        success: function (data) {
          console.log(data);
          if (data.msg === "success") {
            populatedatatable(data.data);
          } else {
            console.error(data.msg);
          }
        },
        error: function (error) {
          console.error(error);
        },
      });
    }

    function populatedatatable(data) {
      console.log(data);
      const tableBody = $("#datatable tbody");
      tableBody.empty();

      if (data.length === 0) {
        const tr = $("<tr>").append(
          $("<td>", {
            colspan: 7,
            class: "text-center",
            text: "No Data Matched",
          })
        );
        tableBody.append(tr);
      } else {
        data.forEach((item) => {
          let action = "";
          if (item.status === "ACTIVE") {
            action = `
                                    <span class="editbutton" id="editBtn" name="editBtn" data-toggle="modal" data-target="#editModal"><i class="fas fa-edit" style="color: rgb(99, 115, 129);"></i></span>
                                    <span class="editbutton" id="inactiveBtn"><i class="fas fa-eye-slash" style="color: rgb(99, 115, 129);"></i></span>
                                    <span class="editbutton" id="deletebutton"><i class="fas fa-trash" style="color: rgb(99, 115, 129);"></i></span>`;
          } else if (item.status === "INACTIVE") {
            action = `
                                    <span class="editbutton" id="editBtn" name="editBtn" data-toggle="modal" data-target="#editModal"><i class="fas fa-edit" style="color: rgb(99, 115, 129);"></i></span>
                                    <span class="editbutton" id="activeBtn"><i class="fas fa-eye" style="color: rgb(99, 115, 129);"></i></span>
                                     <span class="editbutton" id="deletebutton"><i class="fas fa-trash" style="color: rgb(99, 115, 129);"></i></span>`;
          }
          const statusBackground = getStatusBackground(item.status);
          const containerBackground = getContainerBackground(item.status);

          const tr = $("<tr>").append(
            $("<td>", {
              text: item.id,
              "data-label": "ID",
              class: "custom-mobile-align",
            }),
            $("<td>", {
              text: item.employeeid,
              "data-label": "Fullname",
              class: "custom-mobile-align",
            }),
            $("<td>", {
              text: item.access,
              "data-label": "Address",
              class: "custom-mobile-align",
            }),
            $("<td>", {
              text: item.username,
              "data-label": "Contact No",
              class: "custom-mobile-align",
            }),
            $("<td>", {
              text: item.password,
              "data-label": "Email",
              class: "custom-mobile-align",
            }),
            $("<td>", {
              class: "custom-mobile-align",
              "data-label": "Status",
            }).append(
              $("<div>", { class: containerBackground }).append(
                $("<span>", { text: item.status, class: statusBackground })
              )
            ),
            $("<td>", {
              html: action,
              "data-label": "Action",
              class: "actionWidth",
            })
          );

          tableBody.append(tr);
        });
      }
    }

    function LoadList() {
      $.ajax({
        type: "GET",
        url: "/employee/load",
        success: function (result) {
          let activeData = [];
          let dropdownID = "employeeDropdown";
          let inputID = "employee";
          let hiddenID = "employeeID";
          let container = result.data;
          //console.log(container)
          $.each(container, (key, item) => {
            if (item.status === "ACTIVE") {
              let name = item.fullname;
              let id = item.id;
              activeData.push({
                display: name,
                value: id,
              });
            }
          });
          AddDropdownData(dropdownID, activeData, inputID, hiddenID);
        },
        error: function (err) {
          warning("Warning", err);
        },
      });

      $.ajax({
        type: "GET",
        url: "/access/load",
        success: function (result) {
          let activeData = [];
          let dropdownID = "accessDropdown";
          let inputID = "access";
          let hiddenID = "accessID";
          let container = result.data;
          //console.log(container)
          $.each(container, (key, item) => {
            if (item.status === "ACTIVE") {
              let name = item.name;
              let id = item.id;
              activeData.push({
                display: name,
                value: id,
              });
            }
          });
          AddDropdownData(dropdownID, activeData, inputID, hiddenID);
        },
        error: function (err) {
          warning("Warning", err);
        },
      });
    }
  });
</script>
