<!-- Content Row -->
<div class="row">
  <!-- Earnings (Monthly) Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-custom shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div
              class="text-xs font-weight-bold text-custom text-uppercase mb-1"
            >
              Earnings (Today)
            </div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">
              <span id="sales-today"></span>
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Earnings (Monthly) Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-custom shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div
              class="text-xs font-weight-bold text-custom text-uppercase mb-1"
            >
              Earnings (Monthly)
            </div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">
              <span id="sales-monthly"></span>
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Earnings (Monthly) Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-custom shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div
              class="text-xs font-weight-bold text-custom text-uppercase mb-1"
            >
              Online Orders (Today)
            </div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">
              <span id="orders-today"></span>
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-receipt fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Earnings (Monthly) Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-custom shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div
              class="text-xs font-weight-bold text-custom text-uppercase mb-1"
            >
              Customers
            </div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">
              <span id="customer-monthly"></span>
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-receipt fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Content Row -->

<div class="row">
  <div class="col-sm-12 col-md-6 col-xl-6">
    <div class="card shadow mb-4">
      <div class="card-header">
        <h6 class="m-0 font-weight-bold text-primary">Overall Sold Products</h6>
      </div>
      <div class="card-body">
        <div class="table-responsive scroll-cardbody-size-710 border">
          <table
          id="datatable-top"
            class="table table-bordered custom-mobile-table"
            width="100%"
            cellspacing="10"
          >
            <thead class="table-header">
              <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-6 col-xl-6">
    <div class="card shadow mb-4">
      <div class="card-header">
        <h6 class="m-0 font-weight-bold text-primary">Online Orders</h6>
      </div>
      <div class="card-body">
        <div class="table-responsive scroll-cardbody-size-710 border">
          <table
            id="datatable-orders"
            class="table table-bordered custom-mobile-table"
            width="100%"
            cellspacing="10"
          >
            <thead class="table-header">
              <tr>
                <th>Customer</th>
                <th>Location</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
