<div id="layoutAuthentication">
  <div id="layoutAuthentication_content">
    <main>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-5">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
              <div class="card-header">
                <h3 class="text-center font-weight-light my-4">
                  We have send you your verification code. Please enter it below
                </h3>
              </div>
              <div class="card-body">
                <form>
                  <div class="form-floating mb-3">
                    <input
                      class="form-control text-center"
                      id="smscode"
                      type="number"
                      maxlength="6"
                      placeholder="Please enter SMS code"
                    />
                  </div>

                  <div class="d-flexjustify-content-ceter mt-4 mb-0">
                    <button
                      type="button"
                      class="btn btn-info w-100"
                      id="verifyBtn"
                    >
                      Verify
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  <div id="layoutAuthentication_footer"></div>
</div>
