<div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="input-group mb-3">
              <input
                id="payment"
                name="payment"
                type="text"
                class="form-control"
                placeholder="Payment Name"
                aria-label="Payment Name"
                aria-describedby="addBtn"
              />
              <div class="input-group-append">
                <span class="input-group-text">Payment Name</span>
              </div>
            </div>
          </div>
        </div>
  
        <div class="row">
          <button
            class="btn btn-sm btn-outline-inventory w-25"
            type="button"
            id="addBtn"
          >
            Add
          </button>
        </div>
      </div>
    </div>
  
    <hr class="border border-2 opacity-50" />
  
    <div class="table-responsive">
      <table
        id="datatable"
        class="table table-hover table-light table-bordered border-primary"
      >
        <thead>
          <tr>
            <th>ID</th>
            <th>Payment Name</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  
    <!-- Modal -->
    <div
      class="modal fade bd-example-modal-lg"
      id="editModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
      data-keyboard="false"
      data-backdrop="static"
    >
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Payment</h5>
          </div>
          <div class="modal-body">
            <div class="row mb-2">
              <div class="col-lg-12">
                <div class="card-body">
                  <div class="row mb-2">
                    <div class="col-md-12">
                      <label class="form-label" for="idmodal">Payment ID</label>
                      <input
                        autocomplete="off"
                        id="idmodal"
                        name="idmodal"
                        type="text"
                        class="form-control"
                        aria-label="fullname"
                        aria-describedby="basic-addon1"
                        disabled
                      />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <label class="form-label" for="paymentmodal"
                        >Payment Name</label
                      >
                      <input
                        autocomplete="off"
                        id="paymentmodal"
                        name="paymentmodal"
                        type="text"
                        class="form-control"
                        placeholder="Enter new payment"
                        aria-label="fullname"
                        aria-describedby="basic-addon1"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="custom-btn cw-7rem clr-warning shadow-sm"
              data-dismiss="modal"
            >
              <i class="fa fa-times" aria-hidden="true"></i> Close
            </button>
            <button
              type="button"
              id="saveBtn"
              class="btn btn-sm btn-outline-inventory w-25"
            >
              <i class="fa fa-check" aria-hidden="true"></i> Save
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  